body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::before,
::after{
	box-sizing: border-box;
}

.tusk-block{
	position: relative;
	padding: 40px 0;
}
.tusk-block:nth-child(even){
	background: #f2f2f2;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

h2.block-title{
	font-size: 36px;
	text-transform: uppercase;
	color: #333;
	text-align: center;
	margin-bottom: 50px;
}
h2.block-title span{
	display: block;
	text-transform: capitalize;
	color: #9d81ba;
	font-size: 18px;
	margin: 5px 0;
}
h2.block-title span.small{
	display: block;
	text-transform: capitalize;
	color: tomato;
	font-size: 14px;
}
.crumbs__list{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.crumbs__list li{
	display: inline-block;
	margin-right: 10px;
}
.crumbs__list li a{
	text-decoration: none;
}
/*4*/
.progress__item{
	position: relative;
	margin-bottom: 30px;
}
.progress__top{
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*5*/
.users__list{
	position: relative;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.users__item{
	position: relative;
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
	padding: 1.5rem;
	margin: 30px;
	box-shadow: 0 4px 12px 2px rgb(0,0,0,0.1);
}
.users__item-img{
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
	overflow: hidden;
}
.users__item-img img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.users__item-info{
	flex: 1 1 auto;
	color: #333333;
}
.users__item-name{
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 700;
}
.users__item-name span.users__item-skill{
	font-weight: 300;
}
.users__item-pos{
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
}
.users__item-email{
	font-size: 16px;
	font-weight: 400;
	color: blue;
}
.bann{
	opacity: 0.4;
	pointer-events: none;
}

/*8*/
.btn{
	display: inline-block;
	margin-right: 10px;
	padding: 10px 15px;
	color: #fff;
	background: #2196f3;
}

.btn.btn-2{
	color: #000;
	background: #ffc241;
}
.btn.btn-3{
	background: #fd3995;
}

/*9*/
.form-group{
	margin-bottom: 30px;
}